librosa==0.11.0
pandas==2.3.2
numpy==2.3.5
rich==14.1.0
sounddevice==0.5.2
soundfile==0.13.1
noisereduce==3.0.3
plotly==6.3.0
streamlit==1.51.0
streamlit_antd_components==0.3.2
streamlit-advanced-audio==0.1.2
scikit-learn==1.7.2
gradio==5.47.2